@font-face {
    font-family: abster;
    src:url(font/abster-webfont.woff) format('woff');
}

*{  /*전체해당 사항에대해서 css를 걸 때 이렇게함*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(image/back.jpg); /*배경 좀 어둡어둡하게 하는거*/
}

.container .header{
    width: 80%;
    height: 80px;
    margin: 0 auto; /*원래 마진 레프트 오토 라이트 오토 다 써야하는데 이렇게 쓰면 간편*/
    display: flex;
    justify-content: space-between; /*좌우 끝에 붙어서 출력 h1이 왼쪽에 nav가 오른쪽에 붙어서*/
    align-items: center; /*헤더의 위치 중에서 중간에 위치하게끔하는 코드*/
}

.container .header h1 a{
    text-decoration: none;
    color: white;
    font-family: abster;
}

.container .nav ul li{
    display: inline-block;  /*가로로 정렬*/ 
    margin: 0 5px;
}

.container .nav ul li a{
    text-decoration: none;
    color: white;
}

.material-icons{
    font-size: 3rem;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.container .nav ul li a .material-icons:hover{ /*마우스 올렸을때 색깔 변하게하는거*/
    color: #1fdfdf;
}

.container .btns{
    position: absolute;
    top: 40%;
    left: 18%;
}

.container .btns button{
    border: 2px solid rgb(215, 121, 182);
    padding: 15px 20px;
    border-radius: 50px;
    width: 256px;
    height: 256px;
    outline: none;
    cursor: pointer;
    transition: all .4s;
    margin: 0 70px;
}

.container .btns .game-btn{
    background-image: url(image/tetris.jpg);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.container .btns .diary-btn{
    background-image: url(image/diary.jpg);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.container .btns .schedule-btn{
    background-image: url(image/phonenum.jpg);
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}