@font-face {
    font-family: abster;
    src:url(font/abster-webfont.woff) format('woff');
}

@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff') format('woff');
    font-style: normal;
}
@font-face {
    font-family: 'NEXONLv1Gothic';
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-style: normal;
}

.GotoMain{
    float: left;
    margin-top: 0;
    width: 30px;
    height: 80px;
    background-color: transparent;
    border: transparent;
    font-family: abster;
    color: white;
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

.header{
    width: 82%;
    height: 65px;
    margin: 0 auto; /*원래 마진 레프트 오토 라이트 오토 다 써야하는데 이렇게 쓰면 간편*/
    display: flex;
    justify-content: space-between; /*좌우 끝에 붙어서 출력 h1이 왼쪽에 nav가 오른쪽에 붙어서*/
    align-items: center; /*헤더의 위치 중에서 중간에 위치하게끔하는 코드*/
}


body{
    height: 100vh;
    width: 100vw;
    background-image: url('image/rays.png');
    background-repeat: no-repeat;
   background-size: cover;
}

.arena .control {
    position: relative;
    border: 3px solid gold;
    color: gold;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 5px;
    background-color: transparent;
    width: 100px;
    height: 100px; 
    font-size: 20px;
    margin-top: 380px;
    margin-left: 895px;
    color: rgb(32, 16, 97);
    font-family: 맑은고딕;
    transition: all 0.4s;
    overflow: hidden;
} 
.arena .control:focus {
    outline: none;
}

.arena .control::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: gold;
    top: 100%;
    left: 0;
    transition: all 0.4s;
    z-index: -1;
}

.arena .control:hover::before{
    transform: translateY(-100%);
}

.arena .control:hover{
    color: rgb(32, 16, 97);
}
